<!DOCTYPE html>
<html>

<head>
    <title>{{icao}} Route Map</title>

    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">

    <script src="/__/firebase/5.2.0/firebase-app.js"></script>
    <script src="/__/firebase/5.2.0/firebase-functions.js"></script>
    <script src="/__/firebase/init.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.runtime.js"></script>
    <script src="/js/airlineCard.js"></script>
    <script src="/js/map.js"></script>

    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.1/cosmo/bootstrap.min.css" rel="stylesheet" integrity="sha384-e5ln1YQrCh2KTj0GVDWxOfDZ53Fd5Uss2u08OZUtzZNrxWfeYC4P7VBWHRDPvJUk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    {{> navbar}}
    {{{body}}}
</body>

</html>
