<div class="card">

    <img class="card-img-top airline-logo" src="/assets/logos/<%= airline.iata %>.png" alt="Airline logo">
    <div class="card-body">

        <% if (airline.operatorIata) { %>
            <h5 class="card-title">Operated by <%= airline.operatorIata %></h5>
        <% } %>

        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <% if (airline.cargo) { %>
                        <p class="card-text"><i class="fas fa-box-open"></i> Cargo</p>
                    <% } else { %>
                        <p class="card-text"><i class="fas fa-users"></i> Passenger</p>
                    <% } %>
                </div>
                <div class="col-sm">
                    <% if (airline.seasonal) { %>
                        <p class="card-text"><i class="far fa-clock"></i> Seasonal</p>
                    <% } else { %>
                        <p class="card-text"><i class="far fa-clock"></i> Year-Round</p>
                    <% } %>
                </div>
            </div>
        </div>

        <br>

        <% if (airline.start) { %>
            <p class="card-text"><i>Starts on <%= airline.start %></i></p>
        <% } else if (airline.end) { %>
            <p class="card-text"><i>Ends on <%= airline.end %></i></p>
        <% } %>

    </div>

</div>
