<div class="container-fluid map-container">
    <div class="row map-row">
        <div class="col-9" id="map"></div>
        <div class="col info-panel">



        </div>
    </div>
</div>

{{> scripts}}
