<!DOCTYPE html>
<html>

<head>
    <title><%= icao %> Route Map</title>

    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">

    <script src="/js/map.js"></script>

    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.1/cosmo/bootstrap.min.css" rel="stylesheet" integrity="sha384-e5ln1YQrCh2KTj0GVDWxOfDZ53Fd5Uss2u08OZUtzZNrxWfeYC4P7VBWHRDPvJUk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark title-bar">
        <a class="navbar-brand page-title" href="#"><%= icao %> Route Map</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <form class="form-inline my-2 my-lg-0">
                <div class="dropdown">
                    <input class="form-control mr-sm-2" id="airport-search" data-toggle="dropdown" type="search" placeholder="Search" aria-label="Search">
                    <div class="dropdown-menu" aria-labelledby="airport-search">
                        

                    </div>
                </div>
            </form>
        </div>
    </nav>

    <div class="container-fluid map-container">
        <div class="row map-row">
            <div class="col-9" id="map"></div>
            <div class="col info-panel">



            </div>
        </div>
    </div>

    <script>
        let homeIcao = <%- '\'' + icao + '\'' %>;
    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWa-wP8kTI-LMFinv55WaT8dOwhaiuATU&callback=initMap" async defer></script>
</body>

</html>
