html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.map-container {
    position: absolute;
    top: 60px;
    bottom: 0px;
}

.map-row {
    height: 100%;
}

.title-bar {
    height: 60px;
}

.page-title {
    font-size: 24px;
}

.info-panel {
    background-color: lightgrey;
}

.airline-logo {
}

.flight-info {
    display: inline-block;
}

.panel-title {
    text-align: center;
    margin-top: 10px;
    height: 50px;
}

.card {
    margin: 5px 0px;
}

.spinner {
    text-align: center;
    width: 100%;
    font-size: 24px;
    animation: spin 2s infinite linear;
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(359deg)
    }
}
